<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>start page</h1>
        {% for player in players %}
            <h1>Player {{ forloop.counter }}: {{ player.0}}</h1>
            <h4>-Type: {{ player.1 }}</h4>
        {% endfor %}
        <form action="/game_runner/go" method = "POST">
            {% csrf_token %}
            <input type="submit" value="GO">
        </form>
    </body>
</html>